body {
    background-color: #edf6f9;
}

#container {
    top: 50px;
}

a {
    text-decoration: none;
    color: #006d77;
}

.headerLogo {
    height: 100px;
    display: inline;
}

.title {
    height: 100px;
    line-height: 100px;
    display: inline;
    align-content: center;
    padding-left: 40px;
    text-align: left;
    font-size: 45px;
    margin-bottom: 20px;
}

.subtitle {
    padding-top: 100px;
    display: inline;
    align-content: center;
    padding-left: 10px;
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}

.menuEnd {
    list-style-type: none;
    display: inline;
    float: right;
    padding-right: 100px;
    text-align: center;
    padding-top: 50px;
}

button {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #006d77;
    color: white;
}

button a {
    color: white;
}

.card {
    border-style: solid;
    border-width: 5px 5px;
    margin-bottom: 5px;
    background-color: #ffddd2;
}

.playlistIcon {
    height: 80px;
    width: auto;
    float: left;
    padding-right: 10px;
}

.bigImage {
    display: inline-block;
    height: 300px;
    width: auto;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
}

.songsList {
    display: inline-block;
    margin: 0;
}

.songsList li {
    display: list-item;
    width: fit-content;
    margin-right: 0;
}

.showButton {
    display: block;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.shortDescription {
    overflow: hidden;
    display: block;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.createPlaylistForm {
    display: block;
}

.createPlaylistForm label {
    display: block;
    margin: 10px;
    margin-bottom: 0;
    padding: 6px;
    padding-left: 10px;
    font-size: 30px;
}

.createPlaylistForm input {
    margin: 10px;
    width: 30%;
    padding: 6px;
    padding-left: 10px;
}

#description {
    width: 80%;
    height: 100px;
    margin: 10px;
    padding: 6px;
    padding-left: 10px;
    resize: both;
    overflow: auto;
}

.createPlaylistForm button {
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.errorText {
    color: red;
    font-size: 16px;
    padding-left: 10px;
}

.fixedFlashMsg {
    background-color: #006d77;
    color: white;
    position: fixed;
    height: 50px;
    opacity: 50%;
    top: 0;
    width: 50%;
    border-radius: 20px;
    margin-left: 25%
}

.fixedFlashMsg p {
    padding-left: 40%;
    font-size: 16px;
}

.pagesLinks {
    display: inline;
    padding-top: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.pagesLinks svg {
    height: 25px;
}

.pagesLinks a {
    font-size: 30px;
}

.pagesLinks span {
    font-size: 30px;
}

.pagesLinks div {
    display: inline;
}

.pagesLinks p {
    display: inline;
    font-size: 30px;
}